
<div class="image" >
  <h2 style="text-align: center">  Welcome To Overseas Recruitment System</h2>>

  {{jobseeker}}
  <table align="center">
    
  <a *ngIf="!loggedIn" routerLink="userLogin" class="btn btn-primary active" role="button" routerLinkActive="active">Login </a> &nbsp;
  <a *ngIf="jobseeker" routerLink="jobseeker" class="btn btn-primary active" role="button" routerLinkActive="active">Welcome ASPRINT,your search is over</a> &nbsp;
  <a *ngIf="employer" routerLink="employer" class="btn btn-primary active" role="button" routerLinkActive="active">Welcome Corporate, At heart of quality recruitment </a>&nbsp;
  <a routerLink="registerJobseeker" class="btn btn-primary active" role="button" routerLinkActive="active">Register as jobseeker </a> &nbsp;
  <a routerLink="registerEmployer" class="btn btn-primary active" role="button" routerLinkActive="active">Register as employer</a>&nbsp;
  <router-outlet></router-outlet>
  </table>
  
</div>

